@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f1f1f1;
    color: #0f141e;

    /* font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; */

    font: normal 16px 'Roboto', sans-serif;

    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: deepskyblue;
}

/* a:visited {
    color: grey;
} */

.avatar {
    width: 400px;
    border-radius: 28px;
    box-shadow: -4px 12px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #696969;
    margin: 0;
    font-style: italic;
    font-weight: 100;
    text-decoration: none;
}

/* Box Model */

.container {
    max-width: 850px;
    margin: auto;
    padding-top: 30px;
}

/* .social {
    background: green;
    padding: 15px 40px;
    border: 5px solid #ffffe0;
    margin: 7px;
} */

/* .box-model>div {
    float: left;
    background: #000;
    height: 200px;
    width: 25%;
    box-sizing: border-box;
} */

.bg-super-light {
    background: #ffe5e5;
}

.bg-light {
    background: #fcabab;
}

.bg-not-light {
    background: #fd6666;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #696969;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #696969;
}

/* .table tr:nth-child(odd) {
    background: #fa4a4a;
} */

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(22, 22, 22);
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #696969;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row>.form-group {
    width: 50%;
}

.row>.form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}